button {
  background-color: #0c80f3;
  margin: 1px;
  border: 6px solid #0ff166;
  border-radius: 10px;
}

select {
  width: 180px;
}

.info {
  margin-left: 8px;
}

.game-board {
  width: 600px;
  height: 610px;
  margin: 0 auto;
  background-color: #34495e;
  color: rgb(204, 28, 28);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 8em;
}

.red {
  color: red;
}

.white {
  color: white;
}
